index.html
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "message": { "type": "string" },
                            "username": { "type": "string" },
                            "isAdmin": { "type": "boolean" }
                        },
                        "required": ["message"]
                    }
                }
            }
        },
        "actions": {
            "Check_If_Admin": {
                "type": "If",
                "expression": {
                    "and": [{ "equals": ["@triggerBody()?['isAdmin']", true] }]
                },
                "actions": {
                    "Query_WVDConnections_Admin": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://api.loganalytics.io/v1/workspaces/60adead0-9dcb-4290-b412-be4c7ed14f53/query",
                            "method": "POST",
                            "body": {
                                "query": "WVDConnections | where TimeGenerated > ago(24h) | order by TimeGenerated desc | take 10 | project TimeGenerated, UserName, State, ClientOS, ClientIPAddress"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://api.loganalytics.io"
                            }
                        },
                        "runAfter": {}
                    },
                    "Query_WVDErrors_Admin": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://api.loganalytics.io/v1/workspaces/60adead0-9dcb-4290-b412-be4c7ed14f53/query",
                            "method": "POST",
                            "body": {
                                "query": "WVDErrors | where TimeGenerated > ago(24h) | order by TimeGenerated desc | take 10 | project TimeGenerated, UserName, Message, CodeSymbolic"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://api.loganalytics.io"
                            }
                        },
                        "runAfter": {}
                    },
                    "Creates_a_completion_Admin": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureopenai']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are an expert AVD diagnostics assistant with admin access. You can see logs for ALL users. Analyse the CodeSymbolic and Message fields and give a specific diagnosis per user. Always lead with: 'Based on all user logs I can see...' and summarise errors grouped by user. Be concise, friendly and actionable. If issues need escalation, say so."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Admin question: @{triggerBody()?['message']}\n\nAll users connection logs:\n@{body('Query_WVDConnections_Admin')}\n\nAll users error logs:\n@{body('Query_WVDErrors_Admin')}"
                                    }
                                ],
                                "temperature": 0.7,
                                "top_p": 1,
                                "stream": false,
                                "stop": null,
                                "max_tokens": 800,
                                "presence_penalty": 0,
                                "frequency_penalty": 0,
                                "n": 1,
                                "seed": 0,
                                "logprobs": false,
                                "response_format": { "type": "text" }
                            },
                            "path": "/2024-02-15-preview/deployments/@{encodeURIComponent('gpt-4o-mini')}/chat/completions",
                            "queries": { "api-version": "2024-12-01-preview" }
                        },
                        "runAfter": {
                            "Query_WVDConnections_Admin": ["Succeeded"],
                            "Query_WVDErrors_Admin": ["Succeeded"]
                        }
                    },
                    "Response_Admin": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 200,
                            "headers": { "Content-Type": "application/json" },
                            "body": "@body('Creates_a_completion_Admin')?['choices'][0]['message']['content']"
                        },
                        "runAfter": {
                            "Creates_a_completion_Admin": ["Succeeded"]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Query_WVDConnections_User": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://api.loganalytics.io/v1/workspaces/60adead0-9dcb-4290-b412-be4c7ed14f53/query",
                                "method": "POST",
                                "body": {
                                    "query": "WVDConnections | where UserName == '@{triggerBody()?['username']}' | where TimeGenerated > ago(24h) | order by TimeGenerated desc | take 5 | project TimeGenerated, UserName, State, ClientOS, ClientIPAddress"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://api.loganalytics.io"
                                }
                            },
                            "runAfter": {}
                        },
                        "Query_WVDErrors_User": {
                            "type": "Http",
                            "inputs": {
                                "uri": "https://api.loganalytics.io/v1/workspaces/60adead0-9dcb-4290-b412-be4c7ed14f53/query",
                                "method": "POST",
                                "body": {
                                    "query": "WVDErrors | where UserName == '@{triggerBody()?['username']}' | where TimeGenerated > ago(24h) | order by TimeGenerated desc | take 5 | project TimeGenerated, UserName, Message, CodeSymbolic"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://api.loganalytics.io"
                                }
                            },
                            "runAfter": {}
                        },
                        "Creates_a_completion_User": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureopenai']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "messages": [
                                        {
                                            "role": "system",
                                            "content": "You are an expert AVD diagnostics assistant. When log data is provided, you MUST analyse the CodeSymbolic and Message fields and give a specific diagnosis. For example:- ConnectionFailedPersonalDesktopFailedToBeStarted = The session host VM failed to auto-start. Tell user the VM is powered off and Start VM on Connect permission is missing.- OutOfMemory = Session host is running out of memory. Tell user to close apps or contact admin.- ShortpathTransport = Network path issue, suggest checking internet connection.Always lead with: 'Based on your logs I can see...' and give the specific error found. Be concise, friendly and actionable. If you cannot resolve the issue, tell the user you will escalate to the IT admin."
                                        },
                                        {
                                            "role": "user",
                                            "content": "User question: @{triggerBody()?['message']}\n\nRecent connection logs:\n@{body('Query_WVDConnections_User')}\n\nRecent error logs:\n@{body('Query_WVDErrors_User')}"
                                        }
                                    ],
                                    "temperature": 0.7,
                                    "top_p": 1,
                                    "stream": false,
                                    "stop": null,
                                    "max_tokens": 800,
                                    "presence_penalty": 0,
                                    "frequency_penalty": 0,
                                    "n": 1,
                                    "seed": 0,
                                    "logprobs": false,
                                    "response_format": { "type": "text" }
                                },
                                "path": "/2024-02-15-preview/deployments/@{encodeURIComponent('gpt-4o-mini')}/chat/completions",
                                "queries": { "api-version": "2024-12-01-preview" }
                            },
                            "runAfter": {
                                "Query_WVDConnections_User": ["Succeeded"],
                                "Query_WVDErrors_User": ["Succeeded"]
                            }
                        },
                        "Response_User": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "headers": { "Content-Type": "application/json" },
                                "body": "@body('Creates_a_completion_User')?['choices'][0]['message']['content']"
                            },
                            "runAfter": {
                                "Creates_a_completion_User": ["Succeeded"]
                            }
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azureopenai": {
                    "id": "/subscriptions/c0a6d312-81c1-4637-bb14-6312b8373bc8/providers/Microsoft.Web/locations/eastus/managedApis/azureopenai",
                    "connectionId": "/subscriptions/c0a6d312-81c1-4637-bb14-6312b8373bc8/resourceGroups/avd-rg/providers/Microsoft.Web/connections/azureopenai-2",
                    "connectionName": "azureopenai-2",
                    "connectionProperties": {}
                }
            }
        }
    }
}
